
.idea/
*.iml
*.iws
*.ipr
modules.xml

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp